<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>To do list</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="work at time">
        <meta name="author" content="yongil,Kim">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
        
        <script src="manage.js"></script>
        <script src="db.js"></script>
        
    </head>
    <body onload="init()">
        <div class="container">
            <div class="jumbotron">
                <h1>My To do list</h1>
                <p>This page will grow as we add more and more components from Bootstrap...</p>      
                <a href="#" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-search"></span> Search</a>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div class="col-md-6">
                    <div ng-app="myToDoListApp" ng-controller="myToDoCtrl">
                        <form onsubmit="addTodo(); return false;">
                            <textarea ng-model="message" 
                                      placeholder="What do you need to do?"
                                      cols="40" rows="5"></textarea>
                            <button ng_click="save()">Save</button>
                            <button ng-click="clear()">ClearMessage</button>
                            <button ng-click="clear_todo()">ClearAllToDo</button>
                            <p>Number of characters left: <span ng-bind="left()"></span></p>
                        </form>
                        <ul id="todoItems">
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam. Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                </div>
            </div>
        </div>
    </body>
</html>